evgenyk.dev {
    # -----------------------------------------
    # Name Matcher Engine Reverse Proxy
    # -----------------------------------------
    redir /name_matcher /name_matcher/
    handle_path /name_matcher/* {
        reverse_proxy name_matcher_api:8000
    }
}
